
.container{
    width: 1280px;
    margin: 0 auto;
}

.mrg-bottom-30 {
    margin-bottom: 30px;
}

.mrg-bottom-50 {
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

/*LOGO ================*/

.ramda-logo{
    padding: 61px 0 44px;
}

.logo{
    font-size: 80px;
    color: #000000;
    font-family: 'Arial', sans-serif;
}

.ramda-logo-link {
    text-decoration: none;
}

.ramda-text-color {
    color: #4BCAFF;
}

/*HEADER ================*/

.header-menu-list {
    margin-bottom: 45px;

    background-color: #35444F;
    font-size: 0;
}

.header-menu-link {
    padding: 27px 43px;
    display: block;

    text-decoration: none;
    font-size: 21px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
    text-transform: capitalize;
}

.header-menu-link:hover {
    background-color: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}

.header-menu-item {
    display: inline-block;
}

/*CONTENT=====================*/
.main-content-img {
    overflow: hidden;
}

.content-img-ramda {
    transition: 0.4s;
}

.content-img-ramda:hover {
    transform: scale(1.5);
}

.main-content-sidebar {
    width: 344px;
    display: inline-block;
    margin-right: 35px;

    border: 1px solid #35444f;
}

.content-menu-link {
    padding: 28px 42px;
    display: block;

    font-size: 25px;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: #485863;
    text-transform: capitalize;
}

.content-menu-link:hover {
    padding: 28px 42px 28px 75px;

    background-color: #DBDBDB;
    color: #090909;
}

.main-content-post {
    width: 895px;
    display: inline-block;
    vertical-align: top;
}

.main-content-img {
    padding: 75px 297px;
    margin-bottom: 50px;

    border: 1px solid #35444f;
}

.main-content-text {
    padding: 0 30px;

    font-size: 15px;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

/*FOOTER =================*/

.footer-link {
    margin-bottom: 35px;
}

.footer-content {
    background-color: #b4b7ba;
    padding: 22px 0;
}

.footer-menu-link {
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    text-transform: capitalize;
    margin-left: 20px;
    text-decoration: none;
    color: #090909;
}

.footer-menu-link:hover {
    border-bottom: 2px solid #3181a6;
    color: #3181a6;
}

.footer-menu:first-child {
    margin-left: 40px;
}

.footer-copyright {
    text-align: right;
}

.footer-menu-item {
    display: inline-block;
}

.footer-menu {
    display: inline-block;
}

.footer-copyright {
    display: inline-block;
}

.footer-copyright {
    font-size: 22px;
    font-family: 'Arial', sans-serif;
    margin-left: 165px;
}
